.list {
  display: flex;
  border-collapse: collapse;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 25vw;
  max-width: 25vw;
}

.tree-nav__item {
  cursor: pointer;

  position: relative;

  display: flex;
  border-collapse: collapse;

  width: 100%;
  height: 40px;
  padding: 0;

  white-space: nowrap;
}

.tree-nav__item-title {
  display: flex;
  border-collapse: collapse;
  align-items: center;
  justify-content: flex-start;

  height: 100%;

  font-size: 14px;

  border-bottom: 1px solid var(--border-color);

  &.first {
    padding-left: 20px;
    border-top: 1px solid var(--border-color);
  }

  &__image {
    transform: rotate(-90deg);

    &.hidden {
      visibility: hidden;
    }
  }
}

.tree-nav__item.is-expandable[open] > .tree-nav__item-title > .tree-nav__item-title__image {
  transform: rotate(0deg);
}

.tree-nav__item-title::-webkit-details-marker {
  display: none;
}
