:root {
  --main-bg: #fff;
  --light-secondary: #262842;
  --border-color: rgb(38 40 66 / 12%);
  --gray-bg: #f7f8fc;
  --additional-border-blue: #497cf6;
  --additional-border-yellow: #ffa530;
  --additional-border-green: #2db77b;
  --additional-blue: #e2ebff;
  --additional-yellow: #fff2e0;
  --additional-green: #cff0d6;
}
