ul {
  padding: 0;
  list-style: none;
}

.chart {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: calc(70vw + 12px);

  &__wrapper {
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
  }

  &__shadow {
    z-index: 2;

    display: block;

    width: 12px;
    height: calc(100% + 2px);

    background-color: rgb(255 255 255);
    box-shadow: -4px 2px 8px rgb(16 31 43 / 10%);
  }

  &__values {
    overflow: hidden;
    display: flex;
    border-collapse: collapse;
    align-items: flex-start;

    height: 90vh;
    margin: 0;

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      font-size: 12px;
      font-weight: 400;

      background-color: var(--gray-bg);
      border-top: 1px solid var(--border-color);
      border-right: 1px solid var(--border-color);
      border-bottom: 1px solid var(--border-color);

      &:first-child {
        border-left: none;
      }

      &__title {
        padding: 4px 32px;
      }
    }
  }

  &__days {
    display: flex;

    &__item {
      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 22px;
      height: 24px;

      font-size: 12px;
      font-weight: 400;

      border-top: 1px solid var(--border-color);

      &::after {
        content: "";

        position: absolute;
        z-index: 0;
        top: 0;
        right: -1px;

        display: block;

        height: 90vh;

        border-right: 1px solid var(--border-color);
      }

      &:last-child {
        &::after {
          top: 24px;
        }
      }

      &:not(:last-child) {
        border-right: 1px solid var(--border-color);
      }

      &.small-opacity {
        color: rgb(169 169 184 / 100%);
      }
    }
  }
}

/* CHART-VALUES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.chart__wrapper .chart__values {
  position: relative;

  display: flex;

  margin-bottom: 20px;

  font-size: 1.2rem;
  font-weight: bold;
}

.chart__wrapper .chart__values li {
  position: relative;
  flex: 1;
  text-align: center;
}

/* CHART-BARS
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
.chart__wrapper .chart-bars {
  position: absolute;
  top: 10px;
  margin-top: 39px;

  &__item {
    position: relative;

    box-sizing: border-box;
    width: 0;
    height: 24px;
    margin: 17px 0;

    font-size: 18px;
    color: var(--white);

    opacity: 1;
    border-radius: 4px;

    transition: all 0.65s linear 0.2s;

    &:first-child {
      margin-top: 47px;
    }

    &__title {
      position: absolute;
      top: 2px;
      left: calc(100% + 10px);

      min-width: 300px;

      font-size: 14px;
      text-align: left;
    }
  }
}

@media screen and (max-width: 600px) {
  .chart__wrapper .chart-bars li {
    padding: 10px;
  }
}
