.calendar {
  position: relative;

  overflow: hidden;
  display: flex;

  width: calc(90vw + 12px);
  height: 90vh;

  background-color: var(--main-bg);
  border-left: 1px solid var(--border-color);
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  &__left {
    display: flex;
    flex-direction: column;

    width: 25vw;
    max-width: 25vw;

    border: 1px solid var(--border-color);
    border-left: none;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;

    &__title {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      height: 48px;
      margin: 0;
      padding-left: 20px;

      background-color: var(--gray-bg);
      border-top-left-radius: inherit;
    }
  }
}
